@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);

  --color-accent-blue: hsl(248, 32%, 49%);

  --color-neutral-dark-blue: hsl(249, 10%, 26%);
  --color-neutral-grayish-blue: hsl(246, 25%, 77%);

  --font-poppins: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-poppins);
  margin: 0;
  background-image: url("./images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-color: var(--color-primary-red);
}

.main {
  display: flex;
  padding: 0 64px;
}

.header {
  color: white;
  padding: 0 16px 0 0;
}

.form-container {
  padding: 0 0 0 16px;
}

.pricing {
  background-color: var(--color-accent-blue);
  padding: 12px 0;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 0px;
}

.pricing p {
  margin: 0;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
