@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);

  --color-accent-blue: hsl(248, 32%, 49%);

  --color-neutral-dark-blue: hsl(249, 10%, 26%);
  --color-neutral-grayish-blue: hsl(246, 25%, 77%);

  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
